---
import { getCollection, render } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";
import MdxCallout from "../../components/MdxCallout.astro";

const slugParam = Astro.params.slug;
const slug = Array.isArray(slugParam) ? slugParam.join("/") : slugParam;

const notes = await getCollection("notes", ({ data }) => !data.draft);
const note = notes.find((entry) => entry.id === slug);

if (!note) {
    return Astro.redirect("/404");
}

const { Content } = await render(note);
---

<BaseLayout title={note.data.title}>
    <a href="/" class="back">← назад</a>
    <div id="progress"></div>
    <h1>{note.data.title}</h1>

    <div class="meta">
        <span>
            {
                note.data.date.toLocaleDateString("ru-RU", {
                    day: "numeric",
                    month: "long",
                    year: "numeric",
                })
            }
        </span>
        {note.data.tags.map((t) => <span>#{t}</span>)}
    </div>

    <div class="prose">
        <Content components={{ MdxCallout }} />
    </div>
    <button id="button-up" title="Переместиться вверх">Вверх</button>
</BaseLayout>

<style>
    #button-up {
        position: fixed;
        bottom: 2rem;
        right: 2rem;
        background: none;
        border: 1px solid var(--line);
        color: var(--text);
        font-size: 1.0rem;
        padding: 0.4rem 0.8rem;
        cursor: pointer;
        transition:
            opacity 0.3s,
            visibility 0.3s,
            border-color 0.3s;
        opacity: 0;
        visibility: hidden;
        border-radius: 15px;
    }

    #button-up.visible {
        opacity: 1;
        visibility: visible;
    }

    #button-up:hover {
        border-color: var(--accent);
    }

    #progress {
        position: fixed;
        top: 0;
        left: 0;
        height: 4px;
        background: var(--accent);
        max-width: 100%;
        transition: width 0.1s;
    }
</style>

<script>
    const buttonUp = document.getElementById("button-up");
    const progress = document.getElementById("progress");

    window.addEventListener("scroll", () => {
        if (window.scrollY > 300) {
            buttonUp!.classList.add("visible");
        } else {
            buttonUp!.classList.remove("visible");
        }
    });

    buttonUp!.addEventListener("click", () => {
        window.scrollTo({ top: 0, behavior: "smooth" });
    });

    window.addEventListener("scroll", () => {
        const scrollTop = window.scrollY;
        const noteHeight = document.body.scrollHeight - window.innerHeight;
        const progressWidth = (scrollTop / noteHeight) * 100;
        progress!.style.width = `${progressWidth}%`;
    })
</script>
